<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comedor.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="CLIENT"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:label="LOGIN"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="MENU"
            android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:label="CONFIMR_ORDER"
            android:name=".Main22Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
